@(title: String, content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-2.1.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.svg.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/paper.js")" type="text/javascript"></script>
    </head>
    <body>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <button id="list-button">list</button><button id="clear-button">clear selected</button><button id="refresh-button">refresh</button>
        <div id="author">author:</div>
        <div id="title">title:</div>
        @content
    </body>
</html>